@media screen and (max-width: 930px) {
  .menu {
    .item-card {
      gap: var(--space-md);
      .item-card__info {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: var(--space-md);
        font-size: var(--font-size-lg);
        flex-wrap: wrap;
      }
    }
  }
  .category-list__button {
    .category-list__name {
      font-size: var(--font-size-lg);
      font-weight: 600;
    }
  }
}

@media screen and (max-width: 300px) {
  .menu {
    .item-card {
      gap: var(--space-sm);
      .item-card__info {
        gap: var(--space-sm);
        font-size: var(--font-size-sm);
      }
    }
  }
  .category-list__button {
    .category-list__name {
      font-size: var(--font-size-sm);
      font-weight: 600;
    }
  }
}
