@media screen and (max-width: 930px) {
  .menu {
    .menuItem {
      gap: var(--space-md);
      .itemImgWrapper {
        display: flex;
        width: 50%;
      }
      .itemInfoWrapper {
        display: flex;
        width: 50%;
        flex-direction: column;
        gap: var(--space-md);
        font-size: var(--font-size-lg);
        flex-wrap: wrap;

        .itemTitle {
          display: flex;
          width: auto;
        }
      }
    }
  }
  .categoryCard {
    .categoryTitle {
      font-size: var(--font-size-lg);
      font-weight: 600;
    }
  }
}

@media screen and (max-width: 300px) {
  .menu {
    .menuItem {
      gap: var(--space-sm);
      .itemInfoWrapper {
        gap: var(--space-sm);
        font-size: var(--font-size-sm);
      }
    }
  }
  .categoryCard {
    .categoryTitle {
      font-size: var(--font-size-sm);
      font-weight: 600;
    }
  }
}
