* {
  font-family: monospace;
}
:root {
  --color-main: oklch(76.26% 0.01611 17.217);
  --color-text-light: oklch(95.835% 0.0086 16.611);
  --color-text-dark: oklch(16.376% 0.00002 271.152);
  --color-accent: oklch(0% 0 0 / 0.5);
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 2rem;
  --space-xl: 4rem;
  --font-size-sm: clamp(0.8rem, 0.8rem + 0.25vw, 0.95rem);
  --font-size-base: clamp(1rem, 0.9rem + 0.5vw, 1.125rem);
  --font-size-lg: clamp(1.2rem, 1.1rem + 0.75vw, 1.5rem);
  --font-size-xl: clamp(1.3rem, 1.2rem + 1vw, 2rem);
}
.selected {
  box-shadow: inset 0 0 10px rgb(0, 0, 0);
}
.editPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-sm);
  width: 30%;
  height: 100vh;
  .modifyPanel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: var(--space-sm);
    .modifyBtns {
      border-radius: 10px;
      width: 100%;
      background-color: var(--color-main);
    }
    .input {
      width: 100%;
      border-radius: 10px;
      background-color: var(--color-accent);
      color: var(--color-text-light);
      
    }
      .input::placeholder {
      color: var(--color-text-light);
      
    }
  }

  .menuTree {
    width: 100%;
    padding: var(--space-sm);
    display: flex;
    flex-direction: column;
    align-items: center;
    .listCategory {
      font-weight: bold;
      font-size: var(--font-size-base);
    }
    .listItem {
      text-align: center;
    }
  }
}

.wrapper {
  user-select: none;
  background-color: var(--color-main);
  background-image: url(media/coffeebackground.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-sm);
  width: 100%;
  height: 100vh;
}
.settings {
  width: 100%;
  height: 5vh;
  display: flex;
  text-align: center;
  flex-direction: row;
  padding: var(--space-sm);
  .editModeToggleButton {
    border-radius: 10px;
    background-color: var(--color-main);
  }
}
.main {
  display: flex;
  width: 100%;
  height: 90vh;
}
.menu {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  width: 70%;
  text-align: center;
  padding: var(--space-sm);
  margin: 0 var(--space-sm);
  height: 90vh;
  border-radius: 10px;
  overflow-y: auto;
  .menuItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    box-shadow: inset 0 0 3px rgb(0, 0, 0);
    border-radius: 10px;
    padding: var(--space-sm);
    max-height: 200px;

    .itemImgWrapper {
      width: 40%;
      display: flex;
      justify-content: center;
    }
    .itemImg {
      max-width: 200px;
      height: auto;
      width: 100%;
    }
    .itemInfoWrapper {
      width: 60%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: center;
      text-align: center;
      font-size: var(--font-size-xl);
      font-weight: 600;
      flex-wrap: nowrap;
      .itemTitle {
        display: flex;
        width: 50%;
        text-wrap: nowrap;
        justify-content: center;
      }
      .itemPrice {
        display: flex;
        width: 50%;
        justify-content: center;
        text-wrap: nowrap;
      }
    }
  }
}

.menuSidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-sm);
  width: 30%;
  border-radius: 0px 10px 10px 0px;
  text-align: center;
  height: 90vh;
  .shopLogo {
    width: clamp(10px, 100%, 100px);
  }

  .shopLogoImg {
    width: 100%;
  }

  .shopName {
    font-size: var(--font-size-lg);
    font-weight: bold;
  }

  .categoryList {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    overflow-y: scroll;
    width: 100%;
  }
}

::-webkit-scrollbar {
  display: none;
}

.categoryCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  padding: var(--space-sm);
  .categoryTitle {
    font-size: var(--font-size-xl);
    font-weight: 600;
  }

  .categoryImg {
    width: clamp(40px, 100%, 150px);
  }
}

.glass {
  background: rgba(255, 255, 255, 0.16);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px) saturate(150%);
  -webkit-backdrop-filter: blur(15px);
}
