:root {
  /*Themes*/
  --color-tomato: #d04539;
  --color-mustard: #f49e4c;
  --color-cream: #f5ee9e;
  --pad-1rm: 1rem;
  --pad-2rm: 2rem;
  --pad-3rm: 3rem;
  --pad-4rm: 4rem;
  --mar-1rm: 1rem;
  --mar-2rm: 2rem;
  --mar-3rm: 3rem;
  --mar-4rm: 4rem;
}
.centered {
  margin: 0 auto 0 auto;
}
.wrapper {
  /* background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%); */
  background-color: var(--color-mustard);
  display: flex;
  align-items: center;

  width: 100%;
  min-height: 100vh;
}
.menu {
  width: 70%;
  text-align: center;
  padding: 1rem;
  margin: 0 0.6rem;
  height: 95vh;
  border-radius: 30px;
}
.menuSidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: clamp(0.4rem, 0.8rem, 1rem);
  width: clamp(30%, 30%, 400px);
  border-radius: 0px 30px 30px 0px;
  text-align: center;
  height: 95vh;
}

.shopLogo {
  width: clamp(40px, 100%, 100px);
}
.shopLogoImg {
  width: 100%;
}
.shopName {
  font-size: clamp(0.6rem, 4vw, 2.6rem);
  font-weight: bold;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  overflow-y: scroll;

  width: 100%;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-corner {
}
::-webkit-scrollbar-thumb {
  /* backdrop-filter: blur(6px) saturate(200%);
  -webkit-backdrop-filter: blur(3px) saturate(220%);
  background-color: #bb7737;
  border-radius: 500px; */
}
::-webkit-scrollbar-track-piece {
  /* backdrop-filter: blur(5px) saturate(200%);
  -webkit-backdrop-filter: blur(3px) saturate(130%);
  background-color: rgba(165, 165, 165, 0.158);
  border-radius: 500px; */
}
.categoryItemCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 20px;
}

.categoryTitle {
  font-size: clamp(1.2rem, 5vw, 2.4rem);
  font-weight: normal;
}

.categoryImg {
  width: clamp(40px, 100%, 150px);
}
.glass {
  background: rgba(167, 167, 167, 0.226);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(7.7px) saturate(200%);
  -webkit-backdrop-filter: blur(7.7px);
  border: 1px solid rgb(214, 140, 43);
}
