:root {
  /*Themes*/
  --color-tomato: #d04539;
  --color-mustard: #5c3819;
  --pad-1rm: 1rem;
  --pad-2rm: 2rem;
  --pad-3rm: 3rem;
  --pad-4rm: 4rem;
  --mar-1rm: 1rem;
  --mar-2rm: 2rem;
  --mar-3rm: 3rem;
  --mar-4rm: 4rem;
}

.centered {
}

.selected {
  border: 1px solid black;
}

.wrapper {
  /* background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%); */
  background-color: var(--color-mustard);
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 3vw;
  width: 70%;
  text-align: center;
  padding: 0.6rem;
  margin: 0 0.6rem;
  height: 90vh;
  border-radius: 30px;
  overflow-y: auto;
}

.menuSidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: clamp(0.2rem, 0.4rem, 0.6rem);
  width: 30%;
  border-radius: 0px 30px 30px 0px;
  text-align: center;
  height: 90vh;
}

.shopLogo {
  width: clamp(10px, 100%, 100px);
}

.shopLogoImg {
  width: 100%;
}

.shopName {
  font-size: clamp(1rem, 3vw, 2.6rem);
  font-weight: bold;
}

.categoryList {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  overflow-y: scroll;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-corner {
}

::-webkit-scrollbar-thumb {
  /* backdrop-filter: blur(6px) saturate(200%);
  -webkit-backdrop-filter: blur(3px) saturate(220%);
  background-color: #bb7737;
  border-radius: 500px; */
}

::-webkit-scrollbar-track-piece {
  /* backdrop-filter: blur(5px) saturate(200%);
  -webkit-backdrop-filter: blur(3px) saturate(130%);
  background-color: rgba(165, 165, 165, 0.158);
  border-radius: 500px; */
}

.categoryItemCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 20px;
  padding: clamp(0.2rem, 0.6rem, 1.2rem);
}

.categoryTitle {
  font-size: clamp(1rem, 5vw, 2rem);
  font-weight: normal;
}

.categoryImg {
  width: clamp(40px, 100%, 150px);
}

.glass {
  background: rgba(124, 118, 118, 0.24);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(6px) saturate(150%);
  -webkit-backdrop-filter: blur(7.7px);
  border: 1px solid rgb(49, 49, 48);
}

.menuItem {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  max-width: 100%;
  max-height: 100px;
}

.itemImg {
  max-width: 100px;
}

#loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f49e4c;
}

.face {
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}

.centered {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
